# Created by .ignore support plugin (hsz.mobi)
envSmarthome
.idea
smarthome/__pycache__/
db.sqlite3
core/__pycache__/urls.cpython-35.pyc
core/__pycache__/views.cpython-35.pyc
core/__pycache__/main.cpython-35.pyc
core/__pycache__/
core/migrations/__pycache__/

